html,
body {
  padding: 0;
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font: 18px / 1.4 'Helvetica', 'Arial', sans-serif;
  /*padding-top: 60px;*/
}
h2, h3, h4{
  font-size: 2rem;
  font-weight: 700;
  font-family: "Source Sans Pro","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","文泉驛微米黑","WenQuanYi Micro Hei Light","微軟正黑體","Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Oswald",sans-serif;
  line-height: 1.4;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  color: #434343;
  /*padding-bottom: 20px;*/
}
h2,h3{
  
  width: 70%;
  margin: 50px auto;
}
h4{
  font-size: 1.3rem;
  width: 70%;
  margin: 20px auto; 
}
ul {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: auto;
  background: #cccccc;
  font-size: 0;
  line-height: 0;
  letter-spacing: -0.3em;
}
li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: normal;
}
li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
li a:hover,
li a.active {
  background: #333333;
  color: #ffffff;
}
li a.active:after {
  content: '  ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid;
  border-color: transparent;
  border-top-color: #333333;
}

ol{
  width: 70%;
  margin: 0 auto;  
}
ol.conclusion{
  display: none;
}
ol li{
  width: 100%;
  display: list-item;
  text-align: left;  
}

.intro{
  text-align: justify;
  width: 50%;
  margin: 20px auto;
  display: none;
}
b{
  line-height: 50px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  li {
    font-size: 14.4px;
  }
  p.intro{
    width: 80%;
    
  }
}
@media only screen and (max-width: 430px) {
  
  body {
    padding-top: 0;
  }
  h2,h3,h4{
    width: 90%
  }
  ul {
    height: auto;
    position: static;
  }
  ol{
    width: 90%;
  }
  li {
    display: block;
    width: 100%;
  }
  li a {
    white-space: normal;
  }
  a.active:after {
    display: none;
  }
  p.intro{
    width: 90%
  }
}

