<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>/ascii/</title>
</head>
<body>
  <h1>/ascii/</h1>
  <form action="" method="post">
    <label>
      <div>title</div>
      <input type="text" name="title" value="{{title}}">
    </label>
    <label>
      <div>art</div>
      <textarea name="art" id="" cols="30" rows="10">{{ art }}</textarea>
    </label>
    <div class="error">{{ error }}</div>
    <input type="submit">
  </form>
  <hr>
  {% for art in arts %}
    <div class="art">
      <div class="art-title">
        {{ art.title }}
      </div>
      <pre class="art-body">
        {{ art.art }}
      </pre>
    </div>
  {% endfor %}
</body>
</html>