{% extends  "blog_base.html" %}

{% block content %}
<div id="content">
  <div class="post">
    <div class="post-heading">
      <a href="/blog/{{ blog.key().id() }}" class="post-title">
        {{ blog.subject }}
      </a>
      <div class="post-date">
       {{ blog.created.strftime("%b %d, %Y") }}
      </div>
    </div>
    <div class="post-content">
      {{ blog.content | safe }}
    </div>
    <div class="queried-time">
      Queried {{ queried_time }} seconds ago.
    </div>
  </div>
  <br><br>
</div>
{% endblock %}